html,
body {
    margin: 0;
    height: 100%;

}

label {
    font-size: 20px;
}

h2 {
    margin-left: 20px;
}

.error {
    color: #FF6E6B;
    font-size: 18px;
}

p {
    font-size: 20px;
}

        